mixin link(post)
	- var attrs = { 'data-link-to': url_for(post.path) }
	if post.featured_image
		- attrs.style = { 'background-image': 'url(' + url_for(post.path + post.featured_image) + ')' }
	div.post-list-item&attributes(attrs)
		h2: a(href=url_for(post.path)) #{post.title}

nav.post-list
	each post in page.posts.toArray()
		+link(post)
