doctype html
html
	head
		title Testacious
		meta(charset='utf-8')
		| !{css('css/style.css')}
	body
		header#header: h1
			strong#testacious test
			span.acious acious
		| !{body}
		| !{js('js/index.js')}
