@margin-base: 0.8rem;

article {
  .content :link:hover { text-decoration: underline; }

  p,ul,ol,blockquote,.highlight,>pre,hr,figure {
    margin-bottom: @margin-base;
  }

  h1,h2,h3,h4,h5,h6,p,ul,ol,.highlight,>pre,footer,figure {
    &:extend(.readability, .auto-margin);
  }

  figure >img {
    display: block;
    &:extend(.auto-margin);
  }

  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 568px) {
    p { text-align: justify; }
  }

  ul>li,ol>li { margin: @margin-base / 4 0; }

  ol>li:first-line {
    font-weight: 700;
  }

  hr {
    margin: (@margin-base * 4) (@margin-base * -1);
    height: 1px;
    border: 0;
    background-color: @clr-gray-l2;
  }

  em { font-style: italic; }
  strong { font-weight: 700; }

  blockquote {
    &:extend(.h3);
    text-align: center;
    padding: 2rem @margin-base;
    text-shadow: 0 1pt 2pt @clr-shadow;
    background-color:  @clr-gray-l2;
    color: white;
    > :last-child { margin-bottom: 0; }

    > footer { text-align: right; }

    > footer > strong + cite::before {
      content: ", "
    }
  }

  footer {
    font-size: 0.8rem;

    .dated {
      text-align: right;
    }

    .dated::before {
      font-family: 'FontAwesome';
      content: "\00f133\002003";
    }
  }

  pre,code { font-family: monospace; }

  ul, ol { padding-left: 4ch; }
  ul { list-style-type: disc; }
  ol { list-style-type: decimal; }

  img { max-width: 100%; }
}
