#header {
  padding: 0 1ch;
  border-bottom: 1px solid @clr-gray-l2;
  box-shadow: 0 0.1rem 1rem @clr-shadow;
  background-color: @clr-back;

  display: flex;
  align-items: center;
  justify-content: left;

  @cursor: 0.07ch;

  :link, :visited {
    color: @clr-fore;
  }

  >h1 { flex-grow: 1; }

  .logo {
    vertical-align: -20%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 3rem;
    width: 3rem;
    fill: @clr-accent;
   }

  #testacious::after {
    content: "";
    display: inline-block;
    width: @cursor;
    margin-right: @cursor  * -0.5;
    margin-left: @cursor  * -0.5;
    background-color: black;
    height: 1em;
    vertical-align: -10%;
    position: relative;
    animation: blink 2s infinite linear;
  }

  .acious { transition: color 1000ms; }
  &.typing .acious {
    color: @clr-gray-l2;
  }
}

@keyframes blink {
  0% { opacity: 0; }
  10% { opacity: 1; }
  50% { opacity: 1; }
  60% { opacity: 0; }
  100% { opacity: 0; }
}
