.tag-list {
  list-style: none;
  padding-left: 0;
}

.tag-list-item {
  display: inline-block;
  background-color: @clr-accent;
  padding: @pad-v / 2  @pad-h / 2;
  border-radius: 0.5rem;
  margin-right: 1ch;
}

:link, :visited {
  .tag-list-link& {
    color: white;
  }
}

.tag-list-count {
  font-size: 0.6rem;
  background-color: @clr-back;
  display: inline-block;
  color: @clr-accent;
  text-align: center;
  min-width: 3ch;
  margin-left: 1ch;
  border-radius: 0.5rem;
}
